Mt5/bases/
Mt5/config/accounts.dat
Mt5/config/
Mt5/llm-agent/
Mt5/MQL5/Experts/
Mt5/MQL5/Images/
Mt5/MQL5/Indicators/
Mt5/MQL5/Profiles/
Mt5/MQL5/Scripts/
Mt5/temp/
Mt4/config/
Mt4/history/
Mt4/MQL4/Experts/
Mt4/MQL4/Indicators/
Mt4/MQL4/Scripts/
Mt4/profiles/
Mt4/templates/
Mt4/tester/
*.dat
*.ex5
*.ex4
*.exe
